﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
}

.klantgeleiding-mockup-header {
    width: 100%;
    height: 50px;
    background-color: #4e4e4e;
}

.klantgeleiding-mockup-title {
    padding-left: 4px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
}

.klantgeleiding-mockup-sidenav {
    background-color: #4e4e4e;
    margin: 0;
    height: 100%;
    width: 200px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0;
}

.klantgeleiding-mockup-sidenav-item {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #cccccc;
}

.klantgeleiding-mockup-sidenav-font {
    padding-left: 12px;
    color: white;
    line-height: 50px;
    font-style: italic;
    margin: 0;
}

.klantgeleiding-mockup-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

tr {
    border-bottom: 2px solid #4e4e4e;
}

.klantgeleiding-mockup-table, .klantgeleiding-mockup-list-container {
    width: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }