﻿@inherits LayoutComponentBase

<div class="main">

    <div class="klantgeleiding-mockup-header">
        <p class="klantgeleiding-mockup-title">JCC-Klantgeleiding Mockup</p>
    </div>

    <div class="klantgeleiding-mockup-container">
        <div class="klantgeleiding-mockup-sidenav">
            <div class="klantgeleiding-mockup-sidenav-item">
                <p class="klantgeleiding-mockup-sidenav-font">Medewerkers</p>
            </div>
            <div class="klantgeleiding-mockup-sidenav-item">
                <p class="klantgeleiding-mockup-sidenav-font">Activiteiten</p>
            </div>
            <div class="klantgeleiding-mockup-sidenav-item">
                <p class="klantgeleiding-mockup-sidenav-font">Instellingen</p>
            </div>
        </div>

        <div class="klantgeleiding-mockup-list-container">
            <table class="klantgeleiding-mockup-table">
                <tr>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Geboortedatum</th>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
                <tr>
                    <td>Dummy</td>
                    <td>User</td>
                    <td>24-03-1999</td>
                </tr>
            </table>
            @Body
        </div>
    </div>
</div>
